html{
    height: 100%
    background: radial-gradient{
        circle, #fff, #ccc}
    }
#container{
    height: 400px;
    width: 550px;
    background-color: #9DD2EA;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 5px 0px #009de4;
    -moz-box-shadow: 0px 4px 5px 0px #009de4;
    position: relative;
}
#score{
    background-color: #F1FF92;
    color: #888E5F;
    padding: 11px;
    box-shadow: 0px 4px 3px 0px #9da853;
    -moz-box-shadow: 0px 4px 3px 0px #9da853;
    position: absolute;
    left: 500px;
}
#correct{
    position: absolute;
    left: 260px;
    background-color: #42e252;
    color: #fff;
    padding: 11px;
    display: none;
}
#wrong{
    position: absolute;
    left: 250px;
    background-color: #da3e3e;
    color: #fff;
    padding: 11px;
    display: none;
}
#question{
    width: 450px;
    height: 150px;
    background-color: #9DA0EA;
    margin: 50px auto 10px auto;
    box-shadow: 0px 4px 3px 0px #535aa8;
    -moz-box-shadow: 0px 4px 3px 0px #535aa8;
    font-size: 90px;
    text-align: center;
    font-family: cursive, sans-serif;
    color: black;
}
#instruction{
    width: 450px;
    height: 50px;
    background-color: #B481D9;
    margin: 10px auto;
    line-height: 45px;
    text-align: center;
    box-shadow: 0px 4px 3px 0px #8153a8;
    -moz-box-shadow: 0px 4px 3px 0px #8153a8;
}
#choices{
    width: 450px;
    height: 100px;
    margin: 5px auto; 
}
.box{
    width: 85px;
    height: 85px;
    background-color: white;
    float: left;
    margin-right: 36.5px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 2px rgba(0, 0 ,0 ,0.2);
    -moz-box-shadow: 0px 4px 2px rgba(0, 0 ,0 ,0.2);
    text-align: center;
    line-height: 83px;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}
.box:hover, #startreset:hover{
    background-color: #9C89F6;
    color: white;
    box-shadow: 0px 4px 2px #6b54d3;
}
.box:active, #startreset:active{
    box-shadow: 0px 0px 2px #6b54d3;
    top: 4px;
}
#box4{
    margin-right: 0;
}
#startreset{
    width: 85px;
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
    margin: 0 auto;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px 2px rgba(0, 0 ,0 ,0.2);
    -moz-box-shadow: 0px 4px 2px rgba(0, 0 ,0 ,0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}
#time{
    position: absolute;
    width: 152px;
    color: aliceblue;
    background-color: rgba( 49, 54, 205, 0.88 );
    border-radius: 3px;
    padding: 10px;
    top: 395px;
    left: 405px;
    box-shadow: 0px 4px 2px rgba(0,0,0,0.2);
    display: none;
}
#gameover{
    height: 200px;
    width: 500px;
    background: linear-gradient(#F3CA6B,#F3786C);
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    left: 45px;
    z-index: 2;
    display: none;
}